.wrapper{ 
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    background:linear-gradient(135deg, rgb(11, 15, 15) , rgba(20, 2, 2, 0.699));
}

.jumbotron{
    margin: 10px;
    background: linear-gradient(180deg, rgb(231, 231, 231) , rgba(255, 255, 255, 0.678));
    padding: 40px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px;
}